<%= turbo_frame_tag 'user_group_debt_steps' do %>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">Debt steps:</th>
        <th scope="col">Pay values:</th>
        <th>
          <%= link_to 'Create', new_group_debt_step_path(@group) %>
        </th>
      </tr>
    </thead>

    <% if debts_pay_plan?(@group) %>
      <tbody>
        <% debt_steps(@group).each_with_index do |debt_step, i| %>
          <tr>
            <td><%= i + 1 %></td>

            <th>
              <%= debter_name(debt_step) %> to <%= recipient_name(debt_step) %>
            </th>

            <th><%= pay_value(debt_step) %></th>

            <th>
              <%= link_to 'Edit', edit_group_debt_step_path(@group, debt_step) %>
            </th>

            <th>
              <%= link_to 'Delete', group_debt_step_path(@group, debt_step), method: :delete %>
            </th>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </table>
<% end %>