<% activity_class = user_row_activity_class(user, cur_user) %>

<tr id=<%= group_user_row_id(group, user) %>>
  <th scope="row" class=<%= activity_class %>>
    <%= index + 1 %>
  </th>

  <td class=<%= activity_class %> >
    <%= user.name %>
    <%= '✓' if user_looked_group?(group, user) %>
  </td>

  <td class=<%= activity_class %> >
    <%= group_user_costs_sum(group, user)%>
  </td>

  <td class=<%= activity_class %> >
    <%= group_user_debt_value(group, user)%>
  </td>
</tr>