<% group_user_info = group_user_info(user, group) %>
<% activity_class = user_row_activity_class(user, cur_user) %>
<% user_row_id = group_user_row_id(group, user) %>

<tr id=<%= user_row_id %>>
  <th scope="row" class=<%= activity_class %>>
    <%= index + 1 %>
  </th>

  <td class=<%= activity_class %> ><%= user.name %></td>
  <td id=<%= group_user_row_costs_sum_value_element_id(group, cur_user) %> class=<%= activity_class %> >
    <%= render partial: 'shared/groups/group_user_row_costs_sum_value_element', locals: { group:, user: } %>
  </td>
  <td id=<%= group_user_row_debt_value_element_id(group, cur_user) %> class=<%= activity_class %> >
    <%= render partial: 'shared/groups/group_user_row_debt_value_element', locals: { group:, user: } %>
  </td>
</tr>