<%= turbo_frame_tag 'user_costs' do %>
  <div class="container">
    <div class="row">
      <%= form_with url: user_group_cost_path(cur_user, group, cost), model: cost do |form| %>
        <%= form.number_field :cost_value %>

        <%= form.submit %>
      <% end %>
    </div>

    <%= link_to 'Costs', costs_partial_path(cur_user, group, path: '/shared/groups/group_user_costs', turbo_frame: 'user_costs' ) %>
  </div>
<% end %>