<div class="container">
  <div class="row py-5">
    <div class="col">
      <%= turbo_frame_tag 'group' do %>
        <p>
          <%= link_to @group.name, edit_group_path(@group) %>
        </p>
      <% end %>
    </div>

    <%= render '/shared/groups/flash_errors' %>
  </div>

  <%= render partial: '/shared/groups/group_table', locals: { group: @group, cur_user: current_user } %>

 <div class="row px-3">
    <div class="col py-3 sections-nav">
      <div id="carouselExampleControls" class="carousel carousel-dark slide row justify-content-md-center" data-bs-touch="false" data-bs-interval="false"> 
        <div class="container">
          <div class="row">
            <div class="col"></div>
            <div class="carousel-inner col">

              <div class="carousel-item active">
                <div class="row">
                  <div class="col text-center">
                    <%= render partial: '/shared/groups/group_user_costs', locals: { cur_user: current_user, group: @group } %>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col text-center">
                    <%= render 'shared/groups/group_user_debt_steps' %>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col text-center">
                    <%= render partial: 'shared/costs/create_form', locals: { cost: Cost.new } %>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="row">
                  <div class="col text-center">
                    <%= render partial: 'shared/debt_steps/create_form', locals: { debt_step: DebtStep.new } %>
                  </div>
                </div>
              </div>

            </div>
            <div class="col"></div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span><</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span>></span>
        </button>
      </div>
    </div>
  </div> 
</div>