<div class="container">
  <div class="row">
    <div class="col">
      User
    </div>
    <div class="col">
      User Cost
    </div>
    <div class="col">
      Debt
    </div>
  </div>

  <% group_cost = @group.cost %>
  <% @group.users.each do |user| %>
  <% group_user_info = Services::Info::GroupUserInfoService.new(user, @group) %>

    <div class="row">
      <div class="col">
        <%= user.name %>
      </div>
      <div class="col">
        <%= group_user_info.costs_sum %>
      </div>
      <div class="col">
        <%= group_user_info.debt&.debt_value %>
      </div>
    </div>
  <% end %>
  <br/>

  <div class="row">
    Group Cost: <%= @group.cost&.cost_value %>
  </div>

  <%= render 'group_debt_steps' %>
</div>